@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --prime-color-rgb: rgb(55 65 81);
  --basic-color-rgb: rgb(156 163 175);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --prime-color-rgb: rgb(55 65 81);
  }
}

body {
  font-family: "Poppins", sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.prime-color{
  background-color: var(--prime-color-rgb);
}
.basic-color{
  background-color: rgb(156 163 175);
}
.nav_logo{
  max-width:35%;
}

.stroked-text{
  color: black;
  font-size: 80px;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

